@import "./common/var.css";

@b zmz-showmore {
  @e text {
    font-size: 13px !important;
    color: var(--color-black) !important;
    display: inline-block;
  }
  @m block{
    .zmz-showmore__text{
      display: block;
    }
    .zmz-showmore__btn{
      display: block;
    }
  }
  @m line{
    .zmz-showmore__text{
      display: inline-block;
    }
    .zmz-showmore__btn{
      display: inline-block;
    }
  }
  @e btn{
    font-size: 13px !important;
    color: var(--color-error-fill) !important;
    display: inline-block;
  }
}
